.audio  {
    width: 100%;
    text-align: left;
    padding-left: 2rem;

    align-items: center;
    cursor: default;
}

.audio:hover {
    background-color: rgba(255, 255, 255, 0.25);
    color: var(--color-white);
}

.audio span {
    display: inline-block;
    vertical-align: middle;
    padding-right: 1.5rem;
}

.firstSpan {
    width: 45%;
    text-align: left;
}

.secondSpan {
    width: 20%;
    text-align: left;
}

.thirdSpan {
    width: 20%;
    text-align: left;
}

/* For Tablets - Medium Devices */
@media screen and (max-width: 1024px) {
  }
  
  /* For Mobile and small screens - Small Devices */
  @media screen and (max-width: 600px) {
    .audio  {
        padding-left: 0;
    }

    .firstSpan {
        width: 100%;
    }

    .secondSpan {
        width: 35%;
    }

    .thirdSpan {
        width: 35%;
    }
  }