/*  containers  */
.container {
  text-align: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

.audio-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.info-item-container {
    display: flex;
    justify-content: flex-end;
}

.info-title {
    display: flex;
    justify-content: flex-start;
}

.img-nextplay-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: flex-end;
    overflow: auto;
}



/*  Now Play info on the top */
.info-item {
    text-align: left;
    margin-right: 3rem;
}

.info-item h5,
.info-item h2,
.info-item p {
    margin: 0.25rem 0;
}

.info-item h5 {
    color: var(--color-light);
}

.now-play-btn {
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*  Now Play img */

.audio-img {
    width: 35%;
    height: auto;
    overflow: hidden;
    position: relative;
}
  
.audio-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

/*  Now Play duration time display */
.audio-duration {
    font-size: 12.5px;
    display: flex;
    justify-content: flex-start;
    margin: -0.5rem 0;
}

/*  Now Play progress bar */
.progress-playbar {
    position: relative;
}

.progress-playbar progress {
    appearance: none;
    width: 100%;
    height: 0.3rem;
}
  
.progress-playbar progress::-webkit-progress-bar {
    background-color: var(--color-light);
}
  
.progress-playbar progress::-webkit-progress-value {
    background-color: var(--color-primary);
    position: relative;
}

.progress-circle {
    position: absolute;
    background-color: var(--color-primary);

    width: 10px;
    height: 10px;
    border-radius: 50%;

    margin-top: -11px;

    transform: translateX(-50%);
    pointer-events: none;
    display: none;
}

.progress-playbar progress:hover + .progress-circle {
    display: block;
}

/*  Play List   */
.next-play {
    flex: 1;
    overflow: hidden;
}

.playtitle {
    display: flex;
}

.playtitle h2 {
    font-size: 15pt; 
    color: var(--color-white);
    text-align: left;
    padding: 0 2rem;
}
  
.songs-and-podcasts {
    height: 0;
    padding-bottom: auto;
    font-size: 11pt;
    display: flex;
    flex-direction: column;
}
  
.playlist {
    height: 0;
    padding-bottom: 48.5%;
    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: thin;
    /*scrollbar-color: var(--color-dark) var(--color-light);*/
}

.active-audio {
    color: var(--color-white);
}

.inactive-audio {
    color: var(--color-dark);
}

/*  copy right  */
.copyRight {
    color: var(--color-dark);
    font-size: 11.5px;
    margin-top: 3rem;
}

/* ------ MEDIA QUERIES (MEDIUM DEVICES) ------ */
@media screen and (max-width: 1180px) {
}
  
  /* ----- For Tablets - Medium Devices ----- */
  @media screen and (max-width: 880px) {
    
}
  
  /* ----- For small screens - Small Devices ----- */
@media screen and (max-width: 700px) {
    .info-item-container {
        display: contents;
    }

    .info-item {
        text-align: left;
        margin-right: 1rem;
    }
    

    .img-nextplay-container {
        display: contents;
        overflow: scroll;
    }

    .audio-img {
        width: 100%;
    }

    .playtitle h2 {
        padding: 0 0;
    }
}